*{
    margin: 0;
    padding:0 ;
}

body{
    background: linear-gradient(90deg, #060249, #921007);
    font-family: 'Courier New', Courier, monospace;
}

.calculator-body{
    display: grid;
    width: fit-content;
    margin: 100px auto;
    background:black;
    border-radius: 20px;
    /* justify-content: center; */
    align-content: center;
    /* min-height: 100vh; */
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px, auto) repeat(5,80px);
    padding: 50px;
    gap: 20px;
}
.screen{
    grid-column: 1/-1;
    background-color: rgba(4, 31, 2, 0.7);
    border: 1px solid #5b5b5b;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.previous{
    color: rgba(255,255,255,0.8);
    font-size: 20px;
}
.current{
    color: #fff;
    font-size: 60px;
}
.span-two{
    grid-column: span 2;
}
button{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255,255,255,0.1);
    color: #efefef;
    outline: none;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
}
/* button:hover{
    
} */
.red{
    background: rgba(238, 67, 67, 0.253);
}
.green{
    background: rgba(96, 221, 96, 0.26);
}